{% extends 'base.html' %}
{% load humanize %}
{% load markdown_filter %}
{% block title %}
  Tour Packages
{% endblock %}
{% block base_content %}
  <div class="grid grid-cols-1 justify-center items-center mx-auto px-4 py-8 gap-4 max-md:w-full">
    <h1 class="text-center text-4xl font-extrabold mb-6">Welcome</h1>
    <p class="text-center text-lg font-medium">
      You have created <span class="text-xl font-semibold text-clr-neon-pink">{{ user.tours.count|intcomma }}</span>
      Tour{{ user.tours.count|pluralize }}
    </p>

    <a href="{% url 'tour_create' %}" class="btn max-sm:w-full mb-4 text-center">Create Tour</a>

    <h2 class="text-xl text-center font-bold mb-6">Your latest tours</h2>
    <form method="GET" class="mb-6 flex flex-col items-center gap-2 justify-center relative w-full">
      <div class="relative w-full">
        <input type="search" name="search" placeholder="Search tours..." class="bg-background pl-4 pr-10 py-2 focus:outline-none focus:ring-1 focus:ring-clr-neon-pink focus:border-clr-neon-pink border border-clr-neon-pink rounded-md w-full" value="{{ request.GET.search }}" hx-get="{{ request.path }}" hx-trigger="input changed delay:500ms, search" hx-target="#tour-results" hx-select="#tour-results" hx-push-url="true" />

        <!-- Search Button with SVG -->
        <button type="submit" class="absolute right-2 top-1/2 -translate-y-1/2 p-1.5 rounded-md text-clr-neon-pink hover:bg-clr-neon-pink/10 focus:ring-1 focus:ring-clr-neon-pink">{% include 'svgs/search.svg' with class='h-5 w-5 hover:scale-150 transition-all duration-300' %}</button>
      </div>
      <button type="button" class="mt-4 btn text-center max-md:w-full" hx-on:click="document.querySelector('[name=search]').value = '';">Clear Search</button>
    </form>
  </div>

  <div id="tour-results">
    {% if tours %}
      <div class="grid grid-cols-[repeat(auto-fit,minmax(350px,1fr))] gap-6 max-sm:grid-cols-1 mb-6">
        {% for tour in tours %}
          <div class="border grid grid-rows-subgrid row-span-8 justify-center border-clr-neon-pink rounded-lg shadow-lg text-center p-8 max-sm:text-base">
            <h2 class="text-xl max-sm:text-base mr-2 font-bold">Tour ID: {{ tour.id }}</h2>
            <span class="inline-flex justify-center uppercase items-center gap-1 px-2 py-1 text-sm font-medium max-sm:text-xs">
              {% if tour.status == 'active' %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 max-sm:size-4 text-green-500">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <span class="text-green-500 max-sm:text-xs">Active</span>
              {% elif tour.status == 'inactive' %}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 max-sm:size-4 text-gray-400">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <span class="text-gray-400 max-sm:text-xs">Inactive</span>
              {% endif %}
            </span>
            <a href="{% url 'tour_update' tour.id %}" class="text-sm ml-2 max-sm:text-xs hover:text-clr-neon-pink font-semibold transition-all">Update Tour</a>

            <p>
              From: <strong>{{ tour.origin_country }}</strong> to <strong class="text-base">{{ tour.destination_country }}</strong>
            </p>
            <p class="text-base">
              Duration: <span class="italic text-base">{{ tour.number_of_nights }}</span> nights
            </p>
            <p class="text-lg font-semibold text-green-600">Price: ${{ tour.price }}</p>

            <p class="text-base font-semibold">Comment:</p>
            <div class="text-sm overflow-hidden p-2 mt-2 border rounded-md shadow-sm">{{ tour.comment|markdown_to_html|safe|default:'No comment available.' }}</div>
          </div>
        {% endfor %}
      </div>
      {% if is_paginated %}
        <div class="flex items-center justify-center gap-4 mt-6 mb-6">
          {% if page_obj.has_previous %}
            <a class="mx-2"
              href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}
                
                
                
                
                
                
                
                
                
                
                
                
                
              &search={{ request.GET.search }}
              {% endif %}">
              {% include 'svgs/chevron.svg' with class='size-5 rotate-180 border border-clr-neon-pink rounded-md p-1' %}
            </a>
          {% endif %}
          <span class="text-sm font-medium">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

          {% if page_obj.has_next %}
            <a class="mx-2"
              href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}
                
                
                
                
                
                
                
                
                
                
                
                
                
              &search={{ request.GET.search }}
              {% endif %}">
              {% include 'svgs/chevron.svg' with class='size-5 border border-clr-neon-pink rounded-md p-1' %}
            </a>
          {% endif %}
        </div>
      {% endif %}
    {% else %}
      <p class="text-center text-pink-600 text-lg">No tours available at the moment.</p>
    {% endif %}
  </div>
{% endblock %}
