{% extends 'app/layouts/base_form.html' %}
{% load widget_tweaks %}
{% block title %}
  Create Tour
{% endblock %}
{% block base_content %}
  <div class="grid grid-cols-1 justify-center items-center mt-6">
    <h1 class="text-3xl font-bold mb-6">Create Tour</h1>
    <form method="POST" class="p-6 rounded-lg shadow-md border border-clr-neon-pink mb-6">
      {% csrf_token %}
      <div class="space-y-4">
        {% for field in form %}
          <div class="grid grid-cols-1 justify-center items-center mt-6 col-span-2">
            <label for="{{ field.id_for_label }}" class="block bg- font-medium">{{ field.label }}</label>
            {% render_field field class='border bg-background p-2 w-full rounded focus:ring-0 focus:outline-none focus:border-clr-neon-pink focus:ring-offset-0' %}
            {% if field.help_text %}
              <p class="text-sm text-gray-500">{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
              <p class="text-sm text-red-500">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class="mt-10 text-center">
        <button type="submit" class="btn max-md:w-full">Save</button>
      </div>
    </form>
    <div>
      <a href="{% url 'home' %}" class="hover:underline hover:text-clr-neon-pink text-sm font-medium">Back to list</a>
    </div>
  </div>
{% endblock %}
