Django>=5.1.5
gunicorn==23.0.0
psycopg2-binary==2.9.10
dj-database-url==2.3.0
django-allauth==65.3.1
django-anymail==12.0
django-environ==0.12.0
django-tailwind==3.8.0
django-widget-tweaks==1.5.0
Markdown==3.7
python-slugify==8.0.4
requests==2.32.3
requests-oauthlib==2.0.0
whitenoise==6.9.0
psycopg==3.2.4
Pygments==2.19.1
PyJWT==2.10.1
sqlparse==0.5.3
urllib3==2.3.0
Brotli==1.1.0
charset-normalizer==3.4.1
idna==3.10
Jinja2==3.1.5
MarkupSafe==3.0.2
oauthlib==3.2.2
six==1.17.0
