@import './theme.css';
@import './utils.css';
@import './grid.css';
@import './flex.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--background);
  color: var(--text1);
  font-family: var(--font-sans), sans-serif; /* Ensuring font-family is applied */
}
/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

header,
main,
aside,
section,
article,
footer {
  container-type: inline-size;
}

li {
  text-decoration: none;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 oklch(0 0 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-neon-pink);
  outline: 1px solid var(--clr-neon-pink);
}
