{% extends 'base.html' %}
{% load widget_tweaks %}

{% block base_content %}

{% endblock %}
{% block page_js %}
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

  <script>
    const contentMarkdown = new EasyMDE({
      element: document.getElementById('id_comment'),
      spellChecker: false,
      status: false,
      toolbar: [
        'bold',
        'italic',
    
        '|',
        'heading',
        'quote',
        'unordered-list',
        'ordered-list',
        '|',
    
        '|',
    
        'fullscreen',
      ],
      forceSync: true,
    })
  </script>
{% endblock %}
